# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
media/

# Static files (collected)
staticfiles/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db
